@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Roboto Mono', monospace;
	font-size: 2rem;
	color: #fff;
	background-color: #da7f42;
	overflow: hidden;
}

.counter {
	margin: 4rem 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.counter__numbers {
	margin-top: 2rem;
	font-size: 6rem;
}

@media (max-width: 700px) {
	body {
		flex-direction: column;
	}
}
